{{ '//ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js' | script_tag }}
{{ 'jquery.products.min.js' | asset_url | script_tag }}
<div class="page-width">
    <div class="product-recommendations__inner">
        <div id="recenty-view-heading" class="section-header text-center" style="display:none"><h2>Recently Viewed Products</h2></div>
        <ul id="recently-viewed-products" class="grid grid--uniform grid--view-items section-header text-center" style="display:none"></ul>
        <ul class="collection clearfix">
            {% raw %}
                <script id="recently-viewed-product-template"  type="text/x-jquery-tmpl">
                    <li id="product-${handle}" class="grid__item small--one-half medium-up--one-quarter">
                        <div class="grid-view-item product-card">
                            <a href="${url}">
                                <img class="recent-image" src="${Shopify.Products.resizeImage(featured_image, "medium")}" />
                            </a>
                            <div class="details">
                                <a href="${url}">
                                    <span class="h4 grid-view-item__title product-card__title">${title}</span>
                                </a>
                                <dl class="price {{if available}} {{else}}price--sold-out {{/if}} {{if compare_at_price > price}} price--on-sale {{/if}}" data-price >
                                    
                                        <div class="price__regular">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">{% endraw %}{{ 'products.product.regular_price' | t }}{% raw %}</span>
                                            </dt>
                                            <dd>
                                                <span class="price-item price-item--regular" data-regular-price>
                                                    ${Shopify.formatMoney(price)}
                                                </span>
                                            </dd>
                                        </div>
                                        <div class="price__sale">
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">{% endraw %}{{ 'products.product.sale_price' | t }}{% raw %}</span>
                                            </dt>
                                            <dd>
                                                <span class="price-item price-item--sale" data-sale-price>
                                                    ${Shopify.formatMoney(price)}
                                                </span>
                                            </dd>
                                            <dt>
                                                <span class="visually-hidden visually-hidden--inline">{% endraw %}{{ 'products.product.regular_price' | t }}{% raw %}</span>
                                            </dt>
                                            <dd>
                                                <s class="price-item price-item--regular" data-regular-price>
                                                    ${Shopify.formatMoney(compare_at_price)}
                                                </s>
                                            </dd>
                                        </div>
                                        <div class="price__badges">
                                            <span class="price__badge price__badge--sale" aria-hidden="true">
                                                <span>{% endraw %}{{ 'products.product.on_sale' | t }}{% raw %}</span>
                                            </span>
                                            <span class="price__badge price__badge--sold-out">
                                                <span>{% endraw %}{{ 'products.product.sold_out' | t }}{% raw %}</span>
                                            </span>
                                        </div>
                                   
                                </dl>
                            </div>
                        </div>
                    </li>
                </script>
            {% endraw %}
        </ul>
    </div>
</div>


<script>
    Shopify.Products.showRecentlyViewed( { 
        howManyToShow:4 ,
        onComplete: function(){
            $('#recenty-view-heading').show()
        }
    } );
    
</script>

<style>

/* Some styles to get you started */

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

</style>