<style>
    .page-container {
      transform: unset !important
    }
    .rte .maps__list{
      margin: 0;
    }
   .rte .maps__item{
     list-style: none;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 15px;
     border: 1px solid;
     margin-bottom: 0;
   }
   .rte .maps__item:not(:first-child) {
      border-top: 0;
  }
   .maps__item_left{
     padding-right: 10px;
     width: 80%;
     line-height: 26px;
   }
  .maps__item_left address{
     font-style: inherit;
   } 
  .maps__item_left h2{
    color: #20467a ;
    font-size: 35px;
    margin: 0px 0px 10px;
    font-weight: 800;
   }
  .maps__item_right{
     width: 20%;
     text-align: center;
   } 
   .maps__item_right a.map-btn{
     border: 0;
    display: block;
   }
   .map-frame.show-map {
    display: flex;
    justify-content: center;
    align-items: center;
  }
   .map-frame{
    display: none;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    background: rgba(0,0,0,0.20);
    padding: 10px 15px;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9;
   }
   .inner-box {
    position: relative;
    max-width: 750px;
    max-height: 750px;
   }
   .map-frame a.close-btn {
    color: #fff;
    text-decoration: none;
    line-height: 30px;
    height: 30px;
    width: 30px;
    font-size: 16px;
    display: block;
    z-index: 9999;
    position: absolute;
    right: -15px;
    top: -15px;
    background-color: rgba(0,0,0,0.50);
    transition: all 0.5s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
   }
   @media (max-width:426px) {
     .maps__item .maps__item_left h2{
           font-size: 20px;
     }
    .inner-box iframe{
        max-width: 90vw;
    }
   }
</style>

<div class="section__maps">

      <div class="maps__track">
        <ul class="maps__list">
          {% for block in section.blocks %}
            {% assign shop_name = block.settings.shop_name %}
            {% assign shop_address = block.settings.shop_address %}
            {% assign shop_phone = block.settings.shop_phone %}
            {% assign shop_opentime = block.settings.shop_opentime %}
           
            {% assign map_embed = block.settings.map_embed %}
            
              <li class="maps__item">
                 <div class="maps__item_left">
                    <h2>{{shop_name}}</h2>
                    <address>
                       {{shop_address}}
                        <br><i class="fas fa-phone"></i> {{shop_phone}}
                    </address>
                    <p>{{shop_opentime}}</p>
                 </div>
                 <div class="maps__item_right">
                   <p>Map location</p>
                   <a href="#map{{ forloop.index }}" class="map-btn"><i class="fas fa-directions fa-lg"></i></a>
                   <div class="map-frame" id="map{{ forloop.index }}">
                        <div class="inner-box">
                            <a type="button" class="close-btn">X</a>
                            {{map_embed}}
                          </div>    
                    </div>
                 </div>
              </li>
          {% endfor %}

        </ul>
      </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

{% schema %}
{
  "name":  "Map",
  "class": "maps-section",
  "max_blocks": 10,
  "blocks": [
    {
      "type": "maps",
      "name": "Maps",
      "settings": [
         {
          "type": "text",
          "id": "shop_name",
          "label": "Shop Name"
        },
        {
          "type": "text",
          "id": "shop_address",
          "label": "Shop Address"
        },
         {
          "type": "text",
          "id": "shop_phone",
          "label": "Shop Phone"
        },
        {
          "type": "text",
          "id": "shop_opentime",
          "label": "Shop Open Time"
        },
        {
          "type": "html",
          "id": "map_embed",
          "label": "Map embed"
        }
      ]
    }
   ],
  "presets": [
    {
      "name": "Map",
      "category": {
        "en": "Mother Care"
      },
      "blocks": [
        {
          "type": "maps"
        }
      ]
    }
  ]
}
{% endschema %}
