<script>
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '.promotion-slide', {
      perPage: 4,
      breakpoints: {
        960: {
          perPage: 2,
        }
      },
      interval :3000,
      arrows: true,
      autoplay: false,
    } ).mount();
  } );
</script>

<style>
  .full-width-banner{
    width:100%;
  }

  .collection-promotion__text-container{
    padding:55px 0;
    text-align:center;
    max-width:750px;
    margin:auto;
  }
  .collection-promotion__title{
    font-size:24px;
    font-weight:500;
    padding:8px 0;
  }
  .collection-promotion__p{
    font-size:18px;
    font-weight:300;
    line-height:1.3;
  }
  .collection-promotion__cta{
    font-size:12px;
    font-weight:500;
    margin-top:16px;
    letter-spacing:0px;
    text-decoration: underline;
  }

  .promotion-slide li {
    text-align:center;
    padding:10px;
  }

  .promotion-slide .splide__arrow {
    background: none;
  }

  .promotion-slide .splide__arrow--prev {
    left:-3em;
  }
  .promotion-slide .splide__arrow--next {
    right:-3em;
  }

  .splide__pagination {
    bottom:-2.2em;
  }

  .splide__pagination li {
    padding:5px;
  }

  .splide__pagination__page.is-active {
    transform: unset;
    background: #165C7D;
  }

  .splide__pagination__page {
    background: none;
    border: 1px solid #165C7D !important;
  }

  /* mobile */
  @media only screen and (max-width: 959px) {
    .section__collection-promotion .grid{
      margin-left:0;
    }
  }
</style>

<div class="page-width section__collection-promotion">
  {% if section.settings.image-banner %}
  <img class="full-width-banner" src="{{ section.settings.image-banner | img_url: '1024x' }}">
  {% endif %}
  <div class="grid">
    <div class="collection-promotion__text-container">
      <div class="collection-promotion__title">{{ section.settings.title }}
      </div>
      <div class="collection-promotion__p">{{ section.settings.description }}
      </div>
      {% if section.settings.button-text %}
      <div class="collection-promotion__cta">
        <a href="{{ section.settings.button-url }}">
          {{ section.settings.button-text }}
        </a>
      </div>
      {% endif %}
    </div>
  </div>
  
  <div class="grid slider-grid">
    
    <div class="splide promotion-slide">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
          <img src="{{ 'Arrow-left.svg' | asset_url }}"> 
        </button>
        <button class="splide__arrow splide__arrow--next">
          <img src="{{ 'Arrow-right.svg' | asset_url }}"> 
        </button>
      </div>

      <div class="splide__track">
        <ul class="splide__list">
          {% for block in section.blocks %}
          <li class="splide__slide">
            {% if block.settings.url %}
            <a href="{{ block.settings.url}}">
            {% endif %}
              <img src="{{ block.settings.image | img_url: '500x' }}">
            {% if block.settings.url %}
            </a>
            {% endif %}
          </li>
         {% endfor %}
        </ul>
      </div>
    </div>

  </div>
  
</div>


{% schema %}
{
  "name": {
    "en": "MC Collection Promotion"
  },
  "class": "index-section",
  "settings": [
	{	
      "type": "image_picker",
      "id": "image-banner",
      "label": "Banner"
    },
  	{
      "type": "url",
      "id": "url-banner",
      "label": "Banner URL"
    },
	{
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Default"
    },
	{
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Welcome to my shop!"
    },
	{
      "type": "text",
      "id": "button-text",
      "label": "Button Text"
    },
	{
      "type": "url",
      "id": "url-button",
      "label": "Button URL"
    }
  ],
  "blocks": [
    {
      "type": "Category",
      "name": "Category",
      "settings": [
		{
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "url",
          "id": "url",
          "label": "URL"
    	}
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "MC Collection Promotion"
      },
      "category": {
        "en": "Mother Care"
      }
    }
  ]
}
{% endschema %}
