<script>
  document.addEventListener( 'DOMContentLoaded', function () {
    new Splide( '.product-slide', {
      perPage: 4,
      breakpoints: {
        960: {
          perPage: 2,
        }
      },
      interval :3000,
      arrows: true,
      autoplay: false,
      pagination:true
    } ).mount();
  } );
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
  .section__featured-products{
    margin-top:16px;
  }
  .featured-products__title{
    text-align:center;
    font-size:24px;
    font-weight:500;
    padding:8px 0;
  }

  .section__featured-products .slider-grid {
    margin-top:32px;
  }

  .product-slide li {
    text-align:center;
    padding:10px;
  }

  .product-slide .splide__arrow {
    background: none;
  }

  .product-slide .splide__arrow--prev {
    left:-3em;
  }
  .product-slide .splide__arrow--next {
    right:-3em;
  }

  .product-slide .splide__pagination {
    bottom:-2.2em;
  }

  .product-slide .splide__pagination li {
    padding:5px;
  }

  .product-slide .splide__pagination__page.is-active {
    transform: unset;
    background: #165C7D;
  }

  .product-slide  .splide__pagination__page {
    background: none;
    border: 1px solid #165C7D !important;
  }

  /* mobile */
  @media only screen and (max-width: 959px) {
    .slider-grid{
      margin-left:0;
    }
  }
</style>
<style>
  .spf-product__swatchs {
    justify-content: center !important;
  }

  .spf-product__info {
    height:120px;
  }
  .h4.spf-product-card__title {
  	margin: 0;
  }
  .h4.spf-product-card__title a{
    display: -webkit-box;
    max-width: 400px;
    height: 45px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    text-align: center;
    margin: auto;
    color: #505759;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .spf-product-card__price {
  	font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #3b3a3a;
  }
  span.gfqv-product-card__saleprice, span.spf-product-card__saleprice {
    color: #d21625;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-style: normal;
  }
   span.gfqv-product-card__oldprice, span.spf-product-card__oldprice {
     color: #969595;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     font-weight: 500;
     font-style: normal;
     text-decoration: line-through;
     margin-right: 5px;
  }
</style>

<div class="page-width section__featured-products">
  <div class="featured-products__title">{{ section.settings.title }}
  </div>
  
  <div class="grid slider-grid">
    <div class="splide product-slide">
      <div class="splide__arrows">
        <button class="splide__arrow splide__arrow--prev">
          <img src="{{ 'Arrow-left.svg' | asset_url }}"> 
        </button>
        <button class="splide__arrow splide__arrow--next">
          <img src="{{ 'Arrow-right.svg' | asset_url }}"> 
        </button>
      </div>

      <div class="splide__track">
        <ul class="splide__list">
          {% for block in section.blocks %}
          {% assign product = all_products[block.settings.product] %}
            {% assign product_price             = product.price %}
  			{% assign product_compare_at_price  = product.compare_at_price %}
          <li class="splide__slide">
            <div class="spf-product-card spf-product-card__left spf-product-card__template-2{% unless product.available %} spf-soldout{% endunless %}">
              <div class="spf-product-card__inner">
                  <a class="spf-product-card__image-wrapper" href="{{product.url}}" style="padding-top:100%; padding-top:140%;">
                      <img src="{{ product.featured_image | img_url: '500x' }}">
                  </a>
              </div>
              <div class="spf-product__info">            
                  <div class="h4 spf-product-card__title"><a  href="{{product.url}}">{{product.title}}</a></div>
                  <div class="spf-product-card__price-wrapper">
                  {% if product_compare_at_price > product_price %}
                      <span class="spf-product-card__oldprice">{{ product_compare_at_price | money }}</span>
                      <span class="spf-product-card__saleprice">{{ product_price | money }}</span>
                  {% else %}
                      <span class="spf-product-card__price">{{ product_price | money }}</span>
                  {% endif %}
                  </div>
              </div>
          </div>
          </li>
         {% endfor %}
        </ul>
      </div>
    </div>

  </div>
  
</div>


{% schema %}
{
  "name": {
    "en": "MC Featured Products"
  },
  "class": "index-section",
  "settings": [
	{	
      "type": "text",
      "id": "title",
      "label": "Title"
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "product",
      "settings": [
		{
          "type": "product",
          "id": "product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "en": "MC Featured Products"
      },
      "category": {
        "en": "Mother Care"
      }
    }
  ]
}
{% endschema %}
